Checks: >
  -*,
  performance-*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-init-variables,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  modernize-*,
  -modernize-avoid-c-arrays,
  -modernize-use-ranges,
  clang-analyzer-*,
  cert-*,
  readability-identifier-*,
  -readability-identifier-length

CheckOptions:
  - key: readability-identifier-naming.VariableCase
    value: lower_case
  - key: readability-identifier-naming.FunctionCase
    value: lower_case
  - key: readability-identifier-naming.ClassCase
    value: lower_case
  - key: readability-identifier-naming.ClassIgnoredRegexp
    value: ^[A-Z][a-zA-Z0-9]*$
  - key: readability-identifier-naming.StructCase
    value: lower_case
  - key: readability-identifier-naming.StructIgnoredRegexp
    value: ^[A-Z][a-zA-Z0-9]*$
  - key: readability-identifier-naming.EnumCase
    value: lower_case
  - key: readability-identifier-naming.EnumIgnoredRegexp
    value: ^[A-Z][a-zA-Z0-9]*$
  - key: readability-identifier-naming.EnumConstantCase
    value: lower_case
  - key: readability-identifier-naming.GlobalConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.ConstantCase
    value: lower_case
  - key: readability-identifier-naming.ConstexprVariableCase
    value: UPPER_CASE
  - key: readability-identifier-naming.ConstexprVariableIgnoredRegexp
    value: ^[a-z]([a-z0-9_]*[a-z])?$
  - key: readability-identifier-naming.MemberCase
    value: lower_case
  - key: readability-identifier-naming.PrivateMemberSuffix
    value: _
  - key: readability-identifier-naming.ParameterCase
    value: lower_case
  - key: readability-identifier-naming.TemplateParameterCase
    value: PascalCase
  - key: readability-identifier-naming.MemberTemplateParameterCase
    value: PascalCase
  - key: readability-identifier-naming.ClassConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.NamespaceCase
    value: lower_case
  - key: readability-identifier-length.MinimumVariableNameLength
    value: 1

FormatStyle: "file"
