# Cache
.cache/

# Logs
logs/
*.log

# Build
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
cmake-build*/
*.o
*.obj
*.lo
*.la
*.a
*.lib
*.so
*.dylib
*.dll
*.exe
*.out

# Test & Profiling
*.gcno
*.gcda
*.profdata

# Editor directories and files
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.sln
*.sw?
